html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 900px;
  height: 100%;
}
.gamefield {
  width: 100%;
  height: 300px;
  min-height 250px;
  max-height: calc( 100% - 50px );
  padding: 0 20%;
  box-sizing: border-box;
  background: #afafaf url(img/landscape.png) no-repeat;
  background-size: 100% 100%;
}
.hole {
  display: inline-block;
  text-align: center;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.mole {
  width: 30px;
  height: 50px;
  background: url(img/balloon.png) no-repeat center center;
  background-size: 100% auto;
  transition: top 0.5s;
  display: inline-block;
  position: relative;
  top: 100%;
}

.up > .mole {
  top: 20px; 
  transform: none;
}
.boom > .mole {
  background-image: url(img/boom.png);
}

.captured > .mole {
  margin-left: 30px;
  width: 40px;
  height: 40px;
}

.startButton {
  height: 30px;
  padding: 0 10px;
  margin-left: 10px;
  line-height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #ccc;
}
.startButton:hover {
  background-color: #ddd;
}
.scoreboard {
  height: 50px;
  padding: 10px 5px;
  box-sizing: border-box;
  line-height: 30px;
}
.scoreboard::before {
  content: attr(data-points) ' ';
}
